# Archivos generados de Python
__pycache__/
*.py[cod]

# Entorno virtual
venv/
.env/
*.env
.venv/

# Configuración de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de logs
logs/
*.log

# Archivos de compilación de C/C++
*.so
*.o
*.a
*.pyc
*.pyd

# Archivos de interfaz gráfica de PySide
/gui/ui/*.py
/gui/ui/*.pyc
/gui/ui/__pycache__/

# Configuración de PySide6 Designer y Qt
*.qrc
*.qmlc

# Archivos de caché y temporales
.DS_Store
Thumbs.db
*.swp
*.swo

# Configuración de IDEs
.vscode/
.idea/
*.iml

# Archivos de Maya y Nuke temporales
/workspaces/
/nuke_temp/
/maya_temp/

# Archivos compilados de PyInstaller
/dist/
/build/
*.spec